.menuLinks{
    font-size: 1.2rem;
    font-family: sans-serif;
    color: white!important;
}

.btnIngresar:hover{
     color: white;
     color: rgba(255, 255, 255, 1) !important;
     box-shadow: 0 4px 16px rgba(138, 75, 154, 1);
     transition: all 0.2s ease;
}

.btnIngresar{
    background-color: rgb(79, 25, 93);
    color: white;
    width: 135px;
    height: 45px;
    border-radius: 10px;
    font-stretch: expanded;
    font-weight: 480;
    font-size: 1.2rem;
}

.btnIngresarPrincipal{
    background: white;
    color: #5f2669;
    font-size: 2rem;
    padding: 5px 35px;
    font-weight: 500;
}


.ahrefRegistrar{
    color: orange;
    font-size: 1.2rem;
    font-stretch: extra-expanded;
    font-weight: normal;

}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 30px;
    left: 30px;
}

.texto-encima h3 strong{
    font-size: 3.5rem;
    color: #886392;
}
.texto-encima h3{
    font-size: 2.5rem;
    color: #886392;
    font-family: fangsong;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{
    height:calc(100vh - 390px);
    width: 100%;
}

// colores

.crema { 
    color: #ffffee;
}

.crema-b {
    color: #efedd7;
}

.crema-c {
    color: #f5f5ef;
}

.yellow-cream{
    color:#f5f5e1;
}

.uva {
    color: #563356;
}

.naranja {
    color: #ed8f21;
}

.m-pink {
    color: #d986b0;
}
.m-crimson{
    color: #9f3154;
}

.m-bronze {
    color:#857462;
}

.m-brown{
    color:#704b43;
}
