@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2em!important;
    color: #704b43;
}

.fs-7 {
    font-size: 1.6em;
}

.fs-8 {
    font-size: 2em;
}

.fs-9 {
    font-size:2.5em;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}
.extrabold {
    font-weight: 800;
}

.btn-padding {
    padding: 15px 40px;
}

.lh-1em {
    line-height: 1em;
}

.flip-hor {
    transform: rotate(90deg);
}

.menuLinks{
    font-size: 1.2rem;
    // font-family: sans-serif;
    color: white!important;
}

.btnIngresar:hover{
     color: white;
     color: rgba(255, 255, 255, 1) !important;
     box-shadow: 0 4px 16px rgb(39, 26, 43);
     transition: all 0.2s ease;
}

.btnIngresar{
    // background-color: rgb(79, 25, 93);
    background-color: #563356;
    color: white;
    width: 135px;
    height: 45px;
    border-radius: 10px;
    font-stretch: expanded;
    font-weight: 480;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btnIngresarPrincipal{
    // background: white;
    color: white;
    // font-size: 2rem;
    // padding: 5px 35px;
    // font-weight: 500;
}

.btnIngresarPrincipal:hover{
    background-color:#ed8f21;
    color: white;
}


.ahrefRegistrar{
    color: #ed8f21;
    font-size: 1.2rem;
    font-stretch: extra-expanded;
    font-weight: normal;
}

.ahrefRegistrar:hover{
    color: #886392;
    text-decoration: none!important;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 30px;
    left: 30px;
}

.texto-encima h3 strong{
    font-size: 3.5rem;
    color: #886392;
}
.texto-encima h3{
    font-size: 2.5rem;
    color: #886392;
    font-family: fangsong;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{
    height:calc(100vh - 390px);
    width: 100%;
}

// colores

// fondo del header
.crema-bg { 
    background-color: #ffffee;
}

// líneas top y bottom de header y footer
.crema-l-bg {
    background-color: #efedd7;
}

// fondo de forms
.crema-f-bg {
    background-color: #f5f5ef;
}

// borde para forms
.borde-crema {
    border: 1px solid #efedd7;
}

.rounded15 {
    border-radius: 15px;
}

// fondo de carruseles
.crema-amarillo{
    background-color:#f5f5e1;
}

.uva {
    color: #563356;
}

.uva-bg {
    background-color: #563356;
}

.naranja {
    color: #ed8f21;
}

.naranja-bg {
    background-color: #ed8f21;
}

.rosa {
    color: #d986b0;
}

.carmesi{
    color: #9f3154;
}
.carmesi-bg {
    background-color: #9f3154;
}

.bronce {
    color:#857462;
}

.bronce-bg {
    background-color:#857462;
}

.cafe{
    color:#704b43;
}

.cafe-bg{
    background-color:#704b43;
}

.navbar {
    border-top:6px solid #efedd6;
}
.footer {
    background-color: #9f3154;
    color:#fffffd;
    border-top:6px solid #efedd6;
    font-size: 0.7em;
}