@import "home.scss";

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

// .form {
//   border: 1px solid $borde-crema;
//   border-radius: 15px;
//   background-color: $crema-f-bg;
//   padding: 35px 45px;
//   font-weight: $regular;
//   color: $cafe!important;
//   width: 70%;
//   margin: auto;
//   padding: 4% 2% 4% 2%;
// }

.form a:hover {
    color:$naranja;
}

.icon {
//   padding: 10px;
//   background: #f5f5ef;
  color: $cafe;
  font-size: 2em;
//   min-width: 50px;
  text-align: center;
}

.icon-form-control {
    // border:1px solid $borde-crema;
    border:0px;
    padding: 15px 0!important;
    // border-start-start-radius: 0;
    // border-bottom-left-radius: 0;
    background-color: transparent;
}

.icon-input-group {
    border-radius: 10px;
    background-color: white;
    border: 1px solid $borde-crema!important;
    margin:10px 0;
}

.button_summit {
    background-color: #ed8f21;
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 4%;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    margin-bottom: 15px;
    margin: auto;
    padding: 7px;
    }

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  color: $cafe!important;
}

.input-field:focus {
  border: 1px solid $naranja;
}

.titulo{
    color: $naranja;
    font-size: 22px;
    padding: 12px;
    margin-top: 16px;
}

// .label-form{
//     font-size: 1.1em;
//     color: $uva;
// }

.input-group-text {
    background-color: transparent!important;
    border: none!important;
}

